.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
}

.navSections {
    display: flex;
    gap: 14px;
    align-items: center;
}

.navSections2 {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    right: 20px;
}

.menuIcon {
    font-size: 35px;
    cursor: pointer;
    color: rgb(27, 27, 27);
}

.menuIcon:hover {
    color: rgb(14, 14, 252);
}

.searchbar {
    display: flex;
    border: 1px solid rgb(195, 194, 194);
    border-radius: 5px;
}

.searchbar input {
    height: 40px;
    width: 265px;
    background: white;
    border: none;
    border-radius: 4.5px;
    outline: none;
    padding-left: 20px;
}

.searchIcon {
    position: relative;
    left: -10px;
    border: none;
    padding-inline: 5px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.image {
    img {
        width: 30px;
        height: 30px;
    }
}

.chat {
    cursor: pointer;
}

.notification {
    cursor: pointer;
}

.profile {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.dropdown {
    width: 200px;
    border: 1px solid rgb(190, 188, 188);
    position: absolute;
    height: fit-content;
    left: 25px;
    max-width: 280px;
    margin-top: 8px;
    font-size: 14px;
    z-index: 9999;
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(193, 199, 208) 0px 0px 4px;
    border-radius: 8px;
}

.listName {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    color: rgb(84, 84, 84);
    padding: 8px 12px;
    font-size: 16px;
}

.listName:hover {
    background-color: rgba(145, 145, 145, 0.1);
    color: black;
}

.listIcon {
    font-size: 20px;
    color: black;
    color: rgb(70, 70, 70);
}