.body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: fit-content; */
    background-color: rgb(222, 194, 162, .4);
    padding: 10px;
    border: 1px dotted;
}
.headMsg{
    font-size: small;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: rgb(255, 140, 0);
}
.currectLocationBtn{
    display: flex;
    gap: 10px;
    border: 1px dotted;
    color: rgb(255, 140, 0);
   width: fit-content;
   padding: 6px;
   background-color: rgb(255, 140, 0,.2) ;
   cursor: pointer;
}
.inputrawSection{
    display: flex;
    align-items: center;
    gap: 10px;
}
.addressType{
    display: flex;
    flex-direction: column;
}
.inputBoxSection{
    display: flex;
    gap: 20px;
}
.addressTypeName{
    font-size: small;
    color: rgb(68, 66, 66);
}
.textarea{
    width: 50%;
}
.radio{
    display: flex;
    gap: 10px;
    
    p{
        margin-top: 20%;
    }
}

input[type="radio"]{
    transform: scale(1.3); 
    background-color: rgb(222, 194, 162, .4);

}
.saveCancel{
    display: flex;
    gap: 30px;
    margin-left: 26px;
}

