.body{
    width: 23%;
   
}
.conatiner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    padding: 20px;

}
.conatiner:hover{
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 10px 10px 10px 5px rgba(57, 55, 55, 0.2);
    color: blue;
}
.imageSection{
    display: flex;
    flex-direction: row-reverse;
}
.image img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.wishList{
  
    margin-left: 4px;
}
.red{
    color: rgb(218, 6, 6);
}
.gray{
    color: #9f9f9e;
}


.name_Price{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
/* rating styles  */
.rating{
    display: flex;
    gap: 7px;
}
.avgRating{
    background-color: rgb(22, 150, 48);
    color: #fff;
    padding: 2px;
    border-radius: 3px;
    height: 16px;
    font-size: 60%;
    text-align: center;
}
.varientName{
    font-size: 80%;
    font-weight: 559;
    font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.totalRating_Review{
    font-weight: 500;
    font-size: 70%;
    color: #878787;
}
.pricesection{
    display: flex;
    gap: 7px;
    align-items: center;
}
.sellingPrice{
    font-size: 70%;
    font-weight: 545;
    color: #212121;
}
.MRP{
    color: #878787;
    font-size: 70%;
    font-weight: 300;
    
}
.offerPer{
    font-size: 70%;
    font-weight: 555;
    color: #38ac3e;
}

.strick{
    text-decoration: line-through;
}