/* Page Background */

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* profileCardCOntainer */

.profileCardCOntainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

}

/* home link */
.homeLink{
  display: flex;
  justify-content: start;
  color: #004c99;
  span{
    height: fit-content;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform:uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.1px;
  }
}
.homeLink span:hover {
  text-decoration: underline;
  color: #0073e6;
}

/* Form Card */
.card {
  width: 350px;
  padding: 1px 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Title */
.title {
  font-size: 24px;
  font-weight: 500;
  color: #111;
  text-align: center;
  margin-bottom: 15px;
}

/* Input Group */
.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* Labels */
.label {
  font-size: 14px;
  font-weight: 700;
  color: #111;
  margin-bottom: 5px;
}

/* Input Fields */
.input {
  padding: 8px;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  transition: border 0.2s ease-in-out;
}

.input:focus {
  border-color: #e47911;
  outline: none;
}

/* Primary Button */
.primaryButton {
  width: 100%;
  background-color: #f0c14b;
  border: 1px solid #a88734;
  color: #111;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s ease-in-out;
}

.primaryButton:hover {
  background-color: #e6b13f;
}

/* Cancel Link */
.link {
  text-align: center;
  font-size: 14px;
  color: #0073e6;
  margin-top: 10px;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
  color: #004c99;
}
.successMsg{
  color: rgb(1, 115, 1);
  text-align: center;
}
.noChanges{
  color: rgb(155, 0, 0);
  text-align: center;
}

.moveBack{
  display: flex;
  align-items: center;
  .link{
    font-size: 25px;
    text-align: left;
    margin: 0;
    position: relative;
    left: -13px;
  }
}
