.full{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 200vh;
    background-color: rgb(255, 255, 255);
}
.verification{
    width: 50vh;    
    background-color: rgb(255, 255, 255);
    height: 25px;
    margin-left: 39vh;
    margin-top: 20px;
    color: rgb(67, 67, 67);

}
.almost{
    margin-top: 10px;
    margin-left: 39vh;
    background-color: rgb(255, 255, 255);
    width: 50vh;   
    
    font-weight: bold;
}
.weneed{
    width: 81vh;    
    background-color: rgb(255, 255, 255);
    height: 35px;
    margin-left: 39vh;
    margin-top: 20px;
    color: rgb(67, 67, 67);
}
.inp{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 45px;
    margin-top:30px;
}
.input{
    width: 590px;
    height: 35px;
    
    margin-left: 39vh;
    border-radius: 6px;
   
    border: 2px solid rgb(210, 210, 210);
    padding: 4px;
    input{
        width: 100%;
        height: 100%;
        padding-inline: 20px;
        border-radius: 3px;
    
        border:none;
        outline: none;
    } 
}
  

.suggest{
    width: 40%;
    height: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 39vh;
    color: rgba(19, 71, 184, 0.988);
    margin-top: 20px;
    font-size: small;
    font-weight: bold;
}

.registerbtn{
    display: flex;
    width: 135px;
    height: 35px;
    background-color: rgba(17, 91, 4, 0.855);
    color: white;
    margin-left: 39vh;
    margin-top: 30px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.errorMsg{
    position: relative;
    margin-top: 4px;
    left: 300px;
    color: rgb(140, 0, 0);
    p{
        font-size: small;
    }
}

.borderRed{
    border-color: rgb(220, 6, 6);
}