.body{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(9, 9, 9, 0.3);
}
.yourDashboard{
    font-weight: 550;
    font-size: 19px;
    line-height: 28px;
    color: rgb(61, 70, 77);

}
.updatesSection{
    display: flex;
    gap: 10px;
}