.body {
    width: 100%;
    /* background-color: #fff; */
    border: 1px solid rgba(152, 152, 152, 0.792);
    /* box-shadow: 5px 5px 15px rgb(0, 0, 0); */
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 6px 30px;
    background-color: rgb(255, 255, 255);
}

.section1 {
    display: flex;
    gap: 30px;
}

.steps {
    display: flex;
}

.number {
    font-size: 1rem;
    color: rgb(114, 109, 109);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(134, 134, 134);
    margin: 2px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.active{
    color: #fff;
    background-color: rgb(0, 102, 204);
}
.saved{
    color: #fff;
    background-color: rgb(39, 172, 112);
}

.processing{
    background-color: rgb(0, 102, 204);
    color: rgb(255, 255, 255);
}

.stepName {
    text-transform: uppercase;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
    padding-left: 10px;
    color: rgb(96, 112, 128);
}
.section2{
    display: flex;
    gap: 20px;
}
.btn{
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    min-width: 96px;
    width: fit-content;
    height: 36px;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    color: rgb(0, 102, 204);
    border: 1px solid rgb(0, 102, 204);
    background-color: rgb(255, 255, 255);
}