.body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.wishlistProducts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.wishlistName{
    font-size: large;
    letter-spacing: .6px;
    line-height: 1.4;
}