*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}

.red{
    color: red;
}

/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}