

.body{
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  font-weight: 400;
   
}

.productviewPage{
    display: flex;
    justify-content: center; 
    background-color: rgb(220, 225, 230);
}
.singleProductView{
    background-color: white;
    max-width: 100vw;
    width: 89%;

    margin: 0 10vw 0 10 10vw;
    display: flex;

}

.imageSide{
   width: 40%;
   height: 100%;
   
}
.detailsDisplay{
    width: 60%;
    height: 100%;    
}