*{
  margin: 0;
  padding: 0;
}
.body{
  /* margin: 30px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageSection{
  margin-top: 15px;
  display: flex;
  width: 87%;
  /* height: 57%; */
  height: 448px;
  
}
.sideMultiImages{
  border: 1px solid #f0f0f0;
  /* height: 448px; */
  width: 15%;
  overflow: hidden;
  overflow-y: scroll;
}

.sideMultiImages::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.sideImage{
  border: 1px solid #f0f0f0;
 overflow-y: auto;
 display: flex;
 width: 100%;
 height: 20%;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.sideImage img{
  width: 90%;
  height: 90%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease, border 0.3s ease;
}
.mainImage{
  border: 1px solid #f0f0f0;
  width: 85%;
  padding: 10px;
}

.mainImage img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.buySection{
  display: flex;
  justify-content: end;
  width: 87%;
  padding: 10px;
  /* margin: 20px; */
  gap: 10px;
  /* border: 2px solid yellow; */
}

.Button{
  width: 180px;
  height: 50px;
  border-radius: 2px;
  color: white;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 530;
  text-transform: uppercase;
  gap: 10px;
  cursor: pointer;
}
.Button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.yellowishOrange{
  background-color: orange;
}
.Orange{
  background: #fb641b;
}